<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>AMUZLAB STREAMING</title>

		<script type="text/javascript" src="/bower_components/vue/dist/vue.js"></script>
		<script type="text/javascript" src="/bower_components/vue-socket.io/dist/build.js"></script>
	</head>
	<body>
		<div id="stream-vue">
		<video id="video" width="640" height="360" autoplay></video>
		</div>
		<script typ="text/javascript" src="/js/index.js"></script>
	</body>
</html>
